body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

/* Primeira parte do footer */
.ft-first{
    background-color: #002F5A;
    color: white;
}

/* Segunda parte do footer*/
.ft-second{   
    background-color: #002241;
    color: white;
    font-weight: medium;
    font-size: 14px;
    
        
    a{
        color:white;            
     }   
}


@media (min-width:992px){
    
    .ft-second a{
        text-decoration: none;
    }
}


/* tag a do footer*/
.ls-sm-ft-item a{
    
    text-decoration: none;
    color: white;
    
}




/* botão dopdown do footer*/
.btn-ft-dropdown{
    display: flex;
    border: none;
    color: white;
    width: 100%; 
    justify-content: space-between;
    
}
/* texto título para ecrãs grandes*/
.ft-title-lg{
    font-size:20px;
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;
   
}

/* homepage texto do título para ecrãs pequenos*/
.ft-title-sm{
    font-size: 20px;
    font-weight: bold;
}


/*AboutUs*/

.text-title-main{
    color: #253653;
    font-weight:normal;
    font-size:xx-large;
    text-align: center;

}

.text-body-main{
    color: #253653;
    font-weight: 300;
    text-align: justify;
    

}

/* botão ver mais main*/
.btn-more-main{
    color:white;
    background-color: #003565;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}
/* botão candidatar main*/
.btn-apply-main{
    color:white;
    background-color: #003565;
    height: 40px;
    width: 190px;
    border-radius: 10px;
}

.color-gold{
    color:#977919;
}

/* botão dopdown da main*/
.btn-main-dropdown{
  
    display: flex;
    border: none;
    color: #253653;
    width: 100%; 
    text-align: justify;
    
    
}







